$tealish : #30bfb7;
$pale-grey : #eef2f3;
$white: #fafafa;
$white-Two : #fcfcfc;
$dark-grey-blue : #28394f;
$dark-slate-blue: #264e64;
$water-blue:#139eca;
$water-blue-30:rgba(19, 158, 202, 0.3);
$black-15 : rgba(0, 0, 0, 0.15);
$pale-grey : #eef2f3;
$water-blue: #139eca;
$white-three: #ffffff;
$aqua-blue : #00d2f2;
$warm-grey-two : #808080;
$blue-grey: #56838a;
$cloudy-blue : #b8c1cd;
$Sunset-Orange: #ff615a;
// fonts

$font-bold : 'IRANYekan_b';
$font-light : 'IRANYekan_l';
$font-roman : 'IRANYekan_n';
$primary: #247AF2;
$secondary: #41CCD9;
$tertiary: #F26168;
$alert: #FEC049;
$info: #3DB6F2;
$error: #CC334D;
$success: #1EC982;
$river-bed: #3E4C59;

$small: 1024px;
$medium: 1224px;
$large: 1424px;
$ultra: 1500px;
$ultra-large: 1724px;