
@font-face {
    font-family: 'IRANYekan_n';
    src: url(../font/iranyekanregular.woff);
    font-weight: normal;
}

@font-face {
    font-family: 'IRANYekan_b';
    src: url(../font/iranyekanweblight.woff);
    font-weight: lighter;
}

@font-face {
    font-family: 'IRANYekan_l';
    src: url(../font/iranyekanwebbold.woff);
    font-weight: bold;
}