// $themes: ( light: ( 'white':#ffffff, 'black': #000000, 'primary': #2a3f54, 'secondary': #1ABB9C, 'blue01': #007bff, ), dark: ( 'white': #000000, 'black':#ffffff, 'primary': #1ABB9C, 'secondary': #2a3f54, 'blue01': #007bff, ), );

// $font: IRANSans !important;

.base_font {
    // font-family: $font;
}

.text-h5 {
    // font-family: $font;
}

.opacity-1 {
    opacity: 1;
}

.opacity-0 {
    opacity: 0;
}

.height-0 {
    height: 0;
}

.w-100 {
    width: 100%;
}

.v-btn {
    letter-spacing: 0 !important;
}

.pointer {
    cursor: pointer;
}

.text-lg {
    font-size: 17px;
    font-weight: 500;
}

.text-xl {
    font-size: 20px;
    font-weight: 600;
}

.list_num {
    list-style: persian;
}

.rules-title {
    font-size: 2rem;
    font-weight: bold;
    color: #181f86;
}

.rules-sub {
    font-size: 1.2rem;
    font-weight: bold;
    color: #181F86;
}

.row {
    margin: 0 !important;
}

.font-0-5 {
    font-size: .75rem;
}

.font-1 {
    font-size: 1rem !important;
}

.font-2 {
    font-size: 1.25rem !important;
}

.font-3 {
    font-size: 1.5rem !important;
}

.font-4 {
    font-size: 1.75rem !important;
}

.font-5 {
    font-size: 2rem !important;
}

.font-6 {
    font-size: 2.5rem !important;
}

$font-default: 14px 'Nunito Sans', sans-serif !important;
$font-default-b: 14px 'Nunito Sans', sans-serif !important;
$font-default-1: 70% 'Nunito Sans', sans-serif !important;
$font-default-2: 75% 'Nunito Sans', sans-serif !important;
$font-default-3: 85% 'Nunito Sans', sans-serif !important;
$font-default-4: 90% 'Nunito Sans', sans-serif !important;
$font-default-5: 100% 'Nunito Sans', sans-serif !important;

@media only screen and (max-width: 1024px) {
    :root {
        font: $font-default-1;
    }
}

@media only screen and (min-width: 1024px) {
    :root {
        font: $font-default-2;
    }
}

@media only screen and (min-width: 1224px) {
    :root {
        font: $font-default-3;
    }
}

@media only screen and (min-width: 1424px) {
    :root {
        font: $font-default-5;
    }
}

@media only screen and (min-width: 1624px) {
    :root {
        font: $font-default-5;
    }
}

@media only screen and (min-width: 1824px) {
    :root {
        font: $font-default-5;
    }
}

// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

:root {
    --text-primary: hsl(200, 15%, 8%);
    --text-secondary: hsl(0, 0%, 52%);
    --bg-primary: hsl(0, 0%, 100%);
    --bg-secondary: hsl(0, 0%, 98%);
    --transition-speed: 400ms;
}

.dark {
    --text-primary: hsl(0, 0%, 100%);
    --text-secondary: hsl(0, 0%, 52%);
    --bg-primary: hsl(209, 23%, 22%);
    --bg-secondary: hsl(207, 26%, 17%);
}

.light {
    --text-primary: hsl(200, 15%, 8%);
    --text-secondary: hsl(0, 0%, 52%);
    --bg-primary: hsl(0, 0%, 100%);
    --bg-secondary: hsl(0, 0%, 98%);
}

body {
    min-height: 100vh;
    height: fit-content;
    background-color: var(--bg-secondary) !important;
    /* استفاده از متغیر رنگ پس زمینه */
    color: var(--text-primary) !important;

    div {
        color: var(--text-primary) !important;
    }

    /* استفاده از متغیر رنگ متن */
}

.btn {
    // background-color: var(--background-color) !important;
    /* استفاده از متغیر رنگ پس زمینه */
    color: var(--text-primary) !important;
}

button {
    cursor: pointer;
}